
<div class="text-center">
  <h1 class="mt-5"><%= page_title %></h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Modified at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% documents_list.forEach(doc => { %>
       <tr>
        <td><%= doc.title %></td>
        <td><%= ejsHelpers.formatDate(doc.created_at)%></td>
        <td><%= ejsHelpers.formatDate(doc.modified_at)%></td>
        <td>
          <a href='documents/<%= doc.id %>' class="btn btn-link p-1"><i class="p-2 fa-regular fa-eye" style="color: #fca311;" title="Show Document"></i></a>
          <button class="confirm-del-btn btn btn-lin p-1" data-document-id = <%= doc.id %> data-bs-toggle="modal" data-bs-target="#confirmDelete" ><i class="p-1 fa-regular fa-trash-can" style="color: #fca311;" title="Delete document"></i></button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/documents/create" class="btn btn-link btn-dark btn-orange text-decoration-none">
  Add new document
  </a>
  <%- include('../partials/confirm-delete.ejs') %>
</div>