
<div class="text-center">
  <h1 class="mt-5">{{page_title}}</h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Modified at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each documents_list}}
        {{#with this}}
       <tr>
        <td>{{title}}</td>
        <td>{{formatDate created_at}}</td>
        <td>{{formatDate modified_at}}</td>
        <td>
          <a href='documents/{{id}}' class="btn btn-link p-1"><i class="p-2 fa-regular fa-eye" style="color: #fca311;" title="Show Document"></i></a>
          <button class="confirm-del-btn btn btn-lin p-1" data-document-id = {{id}} data-bs-toggle="modal" data-bs-target="#confirmDelete" ><i class="p-1 fa-regular fa-trash-can" style="color: #fca311;" title="Delete document"></i></button>
        </td>
      </tr>
      {{/with}}
      {{/each}}
    </tbody>
  </table>
  <a href="/documents/create" class="btn btn-link btn-dark btn-orange text-decoration-none">
  Add new document
  </a>
  {{> confirm-delete }}
</div>