
<div class="text-center">
  <h1>{{page_title}}</h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Modified at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each documents_list}}
        {{#with this}}
       <tr>
        <td>{{title}}</td>
        <td>{{formatDate created_at}}</td>
        <td>{{formatDate modified_at}}</td>
        <td>
          <a href='documents/{{id}}'><i class="p-1 fa-regular fa-eye" style="color: #fca311;" title="Show Document"></i></a>
          <a class="confirm-del-btn" href='documents/{{id}}/delete' data-document-id = {{id}}><i class="p-1 fa-regular fa-trash-can" style="color: #fca311;" title="Delete document"></i></a>
        </td>
      </tr>
      {{/with}}
      {{/each}}
    </tbody>
  </table>
</div>